* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: #000;
   font-family: sans-serif;
}

body {
   position: relative;
}

a {
   padding: 20px;
   display: inline-block;
   color: #008000;
   letter-spacing: 2px;
   text-transform: uppercase;
   text-decoration: none;
   font-size: 1.5em;
   cursor: pointer;
   width: 100%;
   margin: 0;
   text-align: center;
}

a:hover {
   color: #111;
   background: #39ff14;
   box-shadow: 0 0 50px #39ff14;
}

#message {
   color: white;
   position: absolute;
   top: 150%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: none;
   text-shadow: 0 0 10px #39ff14;
}

/* style main header */
.main-header {
   display: flex;
   width: 90%;
   margin: 20px auto;
   justify-content: space-between;
   align-items: center;
}

.main-header h2 {
   color: white;
   text-shadow: 0 0 20px #39ff14;
}

.main-header input {
   width: 400px;
   padding: 10px;
   box-shadow: 0 0 10px #39ff14;
   border: none;
   border-radius: 10px;
}

.main-header input:focus {
   box-shadow: 0 0 30px #39ff14;
   outline: none;
}

.header-line {
   height: 3px;
   background-color: whitesmoke;
   box-shadow: 0 0 100px #39ff14;
}

.book-shelf {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}

/* Book List */
.book-list {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   width: 90%;
   padding: 20px;
}

/* Style Section Book Item */
.book-item {
   color: #008000;
   border: 2px solid whitesmoke;
   width: 200px;
   padding: 20px;
   border-radius: 10px;
   position: relative;
   height: 300px;
}

.book-item .horizontal-line {
   height: 3px;
   background-color: white;
   margin-top: 10px;
}

.book-item__image {
   width: 80px;
   margin: 20px 30px;
}

.book-item:hover {
   color: #000;
   background: #39ff14;
   box-shadow: 0 0 50px #39ff14;
}

.book-item .red {
   position: absolute;
   top: -10px;
   right: -10px;
   border-radius: 50%;
   width: 30px;
   height: 30px;
   cursor: pointer;
   border: none;
   color: red;
   font-weight: 400;
   font-size: 18px;
}

.book-item .red:hover {
   background-color: red;
   color: #fff;
}

.book-item .green {
   margin-top: 20px;
   border: none;
   padding: 10px;
   border-radius: 10px;
   background-color: white;
   cursor: pointer;
   margin: 20px 20px 0px 20px;
}

.book-item .green:hover {
   box-shadow: 0px 0px 50px orange;
}

.book-item p {
   margin-top: 5px;
   font-weight: 500;
}

#add-book, #pageBooksShelf {
   position: fixed;
   right: 10px;
   bottom: 10px;
   border: none;
   border-radius: 100%;
   font-size: 32px;
   width: 50px;
   height: 50px;
   cursor: pointer;
   color: #008000;
}

#pageBooksShelf {
   bottom: 70px;
}

#add-book:hover,  #pageBooksShelf:hover {
   background-color: #39ff14;
   box-shadow: 0 0 50px #39ff14;
   color: #000;
}

#completeBookshelfList {
   display: none;
}

/* Style Input Section */
#input-section {
   color: white;
   display: none;
   width: 400px;
   margin: 100px auto;
   border-radius: 10px;
   padding: 20px;
   border: 3px dashed #39ff14;
   box-shadow: 0 0 20px #39ff14;
}

#input-section:hover {
   box-shadow: 0 0 50px #39ff14;
}

#inputBook .input {
   display: flex;
   flex-direction: column;
   margin-top: 10px;
}

#inputBook label {
   margin: 5px 0;
}

#inputBook .input_inline {
   margin-top: 10px;
}

#bookSubmit, #cancel {
   margin-top: 10px;
   padding: 8px 0;
   width: 50%;
   cursor: pointer;
   border: none;
   border-radius: 5px;
   color: #fff;
}

#bookSubmit {
   background-color: #39ff14;
   box-shadow: 0 0 10px #39ff14;
   font-weight: 500;
   letter-spacing: 0.1rem;
}

#bookSubmit:hover {
   box-shadow: 0 0 30px #39ff14;
}

#cancel {
   background-color: #C70039;
   box-shadow: 0 0 10px red;
}

#cancel:hover {
   box-shadow: 0 0 30px red;
   color: #000;
}

#formAction {
   display: flex;
   gap: 10px;
   margin-top: 20px;
}